<div class="container-fluid about py-5">
    <div class="container py-5">
      <div class="row g-5">
        <div class="col-xl-5">
          <div class="h-100">
            <img
              src="/img/about-coding.jpg"
              class="img-fluid w-100 h-100"
              alt="About ACPC"
            />
          </div>
        </div>
        <div class="col-xl-7">
          <h5 class="text-uppercase text-primary">About Us</h5>
          <h1 class="mb-4">Welcome to ACPC Coding Club</h1>
          <p class="fs-5 mb-4">
            ACPC (The Africa and Arab Collegiate Programming Championship) at
            Misr International University is dedicated to fostering a
            community of passionate coders. We provide opportunities for
            students to enhance their coding skills through workshops,
            hackathons, and collaborative projects.
          </p>
          <div class="tab-class bg-secondary p-4">
            <ul class="nav d-flex mb-2">
              <li class="nav-item mb-3">
                <a
                  class="d-flex py-2 text-center bg-white active"
                  data-bs-toggle="pill"
                  href="#tab-1"
                >
                  <span class="text-dark" style="width: 150px">About</span>
                </a>
              </li>
              <li class="nav-item mb-3">
                <a
                  class="d-flex py-2 mx-3 text-center bg-white"
                  data-bs-toggle="pill"
                  href="#tab-2"
                >
                  <span class="text-dark" style="width: 150px">Mission</span>
                </a>
              </li>
              <li class="nav-item mb-3">
                <a
                  class="d-flex py-2 text-center bg-white"
                  data-bs-toggle="pill"
                  href="#tab-3"
                >
                  <span class="text-dark" style="width: 150px">Vision</span>
                </a>
              </li>
            </ul>
            <div class="tab-content">
              <div id="tab-1" class="tab-pane fade show p-0 active">
                <div class="row">
                  <div class="col-12">
                    <div class="d-flex">
                      <div class="text-start my-auto">
                        <h5 class="text-uppercase mb-3">Who We Are</h5>
                        <p class="mb-4">
                          ACPC is a club where students come together to share
                          knowledge, solve problems, and build innovative
                          projects. We believe in the power of collaboration
                          and learning by doing.
                        </p>
                        <div
                          class="d-flex align-items-center justify-content-start"
                        >
                          <a
                            class="btn-hover-bg btn btn-primary text-white py-2 px-4"
                            href="#"
                            >Read More</a
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div id="tab-2" class="tab-pane fade show p-0">
                <div class="row">
                  <div class="col-12">
                    <div class="d-flex">
                      <div class="text-start my-auto">
                        <h5 class="text-uppercase mb-3">Our Mission</h5>
                        <p class="mb-4">
                          Our mission is to create a supportive environment
                          where students can enhance their coding skills,
                          collaborate on projects, and prepare for successful
                          careers in technology.
                        </p>
                        <div
                          class="d-flex align-items-center justify-content-start"
                        >
                          <a
                            class="btn-hover-bg btn btn-primary text-white py-2 px-4"
                            href="#"
                            >Read More</a
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div id="tab-3" class="tab-pane fade show p-0">
                <div class="row">
                  <div class="col-12">
                    <div class="d-flex">
                      <div class="text-start my-auto">
                        <h5 class="text-uppercase mb-3">Our Vision</h5>
                        <p class="mb-4">
                          Our vision is to be a leading coding club that
                          inspires innovation, fosters creativity, and equips
                          students with the skills they need to excel in the
                          tech industry.
                        </p>
                        <div
                          class="d-flex align-items-center justify-content-start"
                        >
                          <a
                            class="btn-hover-bg btn btn-primary text-white py-2 px-4"
                            href="#"
                            >Read More</a
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>