<div class="container-fluid blog py-5 mb-5">
  <div class="container py-5">
    <div class="text-center mx-auto pb-5" style="max-width: 800px">
      <h5 class="text-uppercase text-primary">Latest News</h5>
      <h1 class="mb-0">Stay Updated with ACPC's Latest News and Articles</h1>
    </div>
    <div class="row g-4">
      <div class="col-lg-6 col-xl-3">
        <div class="blog-item">
          <div class="blog-img">
            <img src="/img/blog-1.jpg" class="img-fluid w-100" alt="Blog 1" />
            <div class="blog-info">
              <span><i class="fa fa-clock"></i> Dec 01.2024</span>
              <div class="d-flex">
                <span class="me-3"> 3 <i class="fa fa-heart"></i></span>
                <a href="#" class="text-white"
                  >0 <i class="fa fa-comment"></i
                ></a>
              </div>
            </div>
            <div class="search-icon">
              <a href="/img/blog-1.jpg" data-lightbox="Blog-1" class="my-auto"
                ><i class="fas fa-search-plus btn-primary text-white p-3"></i
              ></a>
            </div>
          </div>
          <div class="text-dark border p-4">
            <h4 class="mb-4">Introducing Our New AI Project</h4>
            <p class="mb-4">
              Discover the innovative features of our latest AI project and how
              it aims to revolutionize the industry.
            </p>
            <a
              class="btn-hover-bg btn btn-primary text-white py-2 px-4"
              href="#"
              >Read More</a
            >
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-xl-3">
        <div class="blog-item">
          <div class="blog-img">
            <img src="/img/blog-2.jpg" class="img-fluid w-100" alt="Blog 2" />
            <div class="blog-info">
              <span><i class="fa fa-clock"></i> Nov 20.2024</span>
              <div class="d-flex">
                <span class="me-3"> 5 <i class="fa fa-heart"></i></span>
                <a href="#" class="text-white"
                  >2 <i class="fa fa-comment"></i
                ></a>
              </div>
            </div>
            <div class="search-icon">
              <a href="/img/blog-2.jpg" data-lightbox="Blog-2" class="my-auto"
                ><i class="fas fa-search-plus btn-primary text-white p-3"></i
              ></a>
            </div>
          </div>
          <div class="text-dark border p-4">
            <h4 class="mb-4">Top 10 Coding Resources for Beginners</h4>
            <p class="mb-4">
              Check out our curated list of the best resources to help you start
              your coding journey.
            </p>
            <a
              class="btn-hover-bg btn btn-primary text-white py-2 px-4"
              href="#"
              >Read More</a
            >
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-xl-3">
        <div class="blog-item">
          <div class="blog-img">
            <img src="/img/blog-3.jpg" class="img-fluid w-100" alt="Blog 3" />
            <div class="blog-info">
              <span><i class="fa fa-clock"></i> Oct 15.2024</span>
              <div class="d-flex">
                <span class="me-3"> 8 <i class="fa fa-heart"></i></span>
                <a href="#" class="text-white"
                  >3 <i class="fa fa-comment"></i
                ></a>
              </div>
            </div>
            <div class="search-icon">
              <a href="/img/blog-3.jpg" data-lightbox="Blog-3" class="my-auto"
                ><i class="fas fa-search-plus btn-primary text-white p-3"></i
              ></a>
            </div>
          </div>
          <div class="text-dark border p-4">
            <h4 class="mb-4">How to Ace Your Next Coding Interview</h4>
            <p class="mb-4">
              Learn valuable tips and strategies to help you succeed in your
              next coding interview.
            </p>
            <a
              class="btn-hover-bg btn btn-primary text-white py-2 px-4"
              href="#"
              >Read More</a
            >
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-xl-3">
        <div class="blog-item">
          <div class="blog-img">
            <img src="/img/blog-4.jpg" class="img-fluid w-100" alt="Blog 4" />
            <div class="blog-info">
              <span><i class="fa fa-clock"></i> Sep 30.2024</span>
              <div class="d-flex">
                <span class="me-3"> 4 <i class="fa fa-heart"></i></span>
                <a href="#" class="text-white"
                  >1 <i class="fa fa-comment"></i
                ></a>
              </div>
            </div>
            <div class="search-icon">
              <a href="/img/blog-4.jpg" data-lightbox="Blog-4" class="my-auto"
                ><i class="fas fa-search-plus btn-primary text-white p-3"></i
              ></a>
            </div>
          </div>
          <div class="text-dark border p-4">
            <h4 class="mb-4">Exploring the Future of Quantum Computing</h4>
            <p class="mb-4">
              Dive into the world of quantum computing and learn about its
              potential to transform the tech industry.
            </p>
            <a
              class="btn-hover-bg btn btn-primary text-white py-2 px-4"
              href="#"
              >Read More</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
