<div class="container-fluid gallery py-5 px-0">
  <div class="text-center mx-auto pb-5" style="max-width: 800px">
    <h5 class="text-uppercase text-primary">Our Work</h5>
    <h1 class="mb-4">Showcasing Our Projects</h1>
    <p class="mb-0">
      Explore the projects our members have worked on, from web development to
      AI and IoT.
    </p>
  </div>
  <div class="row g-0">
    <div class="col-lg-4">
      <div class="gallery-item">
        <img src="img/IMG-20240727-WA0032.jpg" class="img-fluid w-100" alt="Gallery 2" />
        <div class="search-icon">
          <a href="img/IMG-20240727-WA0032.jpg" data-lightbox="gallery-2" class="my-auto"
            ><i
              class="fas fa-search-plus btn-hover-color bg-white text-primary p-3"
            ></i
          ></a>
        </div>
        <div class="gallery-content">
          <div class="gallery-inner pb-5">
            <a href="#" class="h4 text-white">AI Chatbot</a>
            <a href="#" class="text-white"
              ><p class="mb-0">Team: Alpha Coders</p></a
            >
          </div>
        </div>
      </div>
      <div class="gallery-item">
        <img src="img/IMG_0994.JPG" class="img-fluid w-100" alt="Gallery 3" />
        <div class="search-icon">
          <a href="img/IMG_0994.JPG" data-lightbox="gallery-3" class="my-auto"
            ><i
              class="fas fa-search-plus btn-hover-color bg-white text-primary p-3"
            ></i
          ></a>
        </div>
        <div class="gallery-content">
          <div class="gallery-inner pb-5">
            <a href="#" class="h4 text-white">Mobile App</a>
            <a href="#" class="text-white"
              ><p class="mb-0">Team: Beta Builders</p></a
            >
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="gallery-item">
        <img src="img/20231201054243_IMG_5059.JPG" class="img-fluid w-100" alt="Gallery 1" />
        <div class="search-icon">
          <a href="img/20231201054243_IMG_5059.JPG" data-lightbox="gallery-1" class="my-auto"
            ><i
              class="fas fa-search-plus btn-hover-color bg-white text-primary p-3"
            ></i
          ></a>
        </div>
        <div class="gallery-content">
          <div class="gallery-inner pb-5">
            <a href="#" class="h4 text-white">Web Platform</a>
            <a href="#" class="text-white"
              ><p class="mb-0">Team: Gamma Geeks</p></a
            >
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="gallery-item">
        <img src="img/20231201053951_IMG_5042.JPG" class="img-fluid w-100" alt="Gallery 4" />
        <div class="search-icon">
          <a href="img/20231201053951_IMG_5042.JPG" data-lightbox="gallery-4" class="my-auto"
            ><i
              class="fas fa-search-plus btn-hover-color bg-white text-primary p-3"
            ></i
          ></a>
        </div>
        <div class="gallery-content">
          <div class="gallery-inner pb-5">
            <a href="#" class="h4 text-white">IoT System</a>
            <a href="#" class="text-white"
              ><p class="mb-0">Team: Delta Developers</p></a
            >
          </div>
        </div>
      </div>
      <div class="gallery-item">
        <img src="img/IMG_2552.JPG" class="img-fluid w-100" alt="Gallery 5" />
        <div class="search-icon">
          <a href="img/IMG_2552.JPG" data-lightbox="gallery-5" class="my-auto"
            ><i
              class="fas fa-search-plus btn-hover-color bg-white text-primary p-3"
            ></i
          ></a>
        </div>
        <div class="gallery-content">
          <div class="gallery-inner pb-5">
            <a href="#" class="h4 text-white">Machine Learning Model</a>
            <a href="#" class="text-white"
              ><p class="mb-0">Team: Epsilon Engineers</p></a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
