<div class="container-fluid causes py-5">
  <div class="container py-5">
    <div class="text-center mx-auto pb-5" style="max-width: 800px">
      <h5 class="text-uppercase text-primary">Recent Projects</h5>
      <h1 class="mb-4">Showcasing Our Latest Work</h1>
      <p class="mb-0">
        Take a look at some of the innovative projects our members have worked
        on.
      </p>
    </div>
    <div class="row g-4">
      <div class="col-lg-6 col-xl-3">
        <div class="causes-item">
          <div class="causes-img">
            <img
              src="/img/project-1.jpg"
              class="img-fluid w-100"
              alt="Project 1"
            />
            <div class="causes-link pb-2 px-3">
              <small class="text-white"
                ><i class="fas fa-code-branch text-primary me-2"></i>Project: AI
                Chatbot</small
              >
              <small class="text-white"
                ><i class="fa fa-users text-primary me-2"></i>Team: Alpha
                Coders</small
              >
            </div>
            <div class="causes-dination p-2">
              <a
                class="btn-hover-bg btn btn-primary text-white py-2 px-3"
                href="#"
                >View Project</a
              >
            </div>
          </div>
          <div class="progress">
            <div
              class="progress-bar"
              role="progressbar"
              aria-valuenow="80"
              aria-valuemin="0"
              aria-valuemax="100"
            >
              <span>80%</span>
            </div>
          </div>
          <div class="causes-content p-4">
            <h4 class="mb-3">AI Chatbot</h4>
            <p class="mb-4">
              An intelligent chatbot that assists users with various queries
              using natural language processing.
            </p>
            <a
              class="btn-hover-bg btn btn-primary text-white py-2 px-3"
              href="#"
              >Read More</a
            >
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-xl-3">
        <div class="causes-item">
          <div class="causes-img">
            <img
              src="/img/project-2.jpg"
              class="img-fluid w-100"
              alt="Project 2"
            />
            <div class="causes-link pb-2 px-3">
              <small class="text-white"
                ><i class="fas fa-code-branch text-primary me-2"></i>Project:
                Mobile App</small
              >
              <small class="text-white"
                ><i class="fa fa-users text-primary me-2"></i>Team: Beta
                Builders</small
              >
            </div>
            <div class="causes-dination p-2">
              <a
                class="btn-hover-bg btn btn-primary text-white py-2 px-3"
                href="#"
                >View Project</a
              >
            </div>
          </div>
          <div class="progress">
            <div
              class="progress-bar"
              role="progressbar"
              aria-valuenow="90"
              aria-valuemin="0"
              aria-valuemax="100"
            >
              <span>90%</span>
            </div>
          </div>
          <div class="causes-content p-4">
            <h4 class="mb-3">Mobile App</h4>
            <p class="mb-4">
              A mobile application designed to improve productivity and task
              management.
            </p>
            <a
              class="btn-hover-bg btn btn-primary text-white py-2 px-4"
              href="#"
              >Read More</a
            >
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-xl-3">
        <div class="causes-item">
          <div class="causes-img">
            <img
              src="/img/project-3.jpg"
              class="img-fluid w-100"
              alt="Project 3"
            />
            <div class="causes-link pb-2 px-3">
              <small class="text-white"
                ><i class="fas fa-code-branch text-primary me-2"></i>Project:
                Web Platform</small
              >
              <small class="text-white"
                ><i class="fa fa-users text-primary me-2"></i>Team: Gamma
                Geeks</small
              >
            </div>
            <div class="causes-dination p-2">
              <a
                class="btn-hover-bg btn btn-primary text-white py-2 px-3"
                href="#"
                >View Project</a
              >
            </div>
          </div>
          <div class="progress">
            <div
              class="progress-bar"
              role="progressbar"
              aria-valuenow="75"
              aria-valuemin="0"
              aria-valuemax="100"
            >
              <span>75%</span>
            </div>
          </div>
          <div class="causes-content p-4">
            <h4 class="mb-3">Web Platform</h4>
            <p class="mb-4">
              A comprehensive web platform for managing community events and
              activities.
            </p>
            <a
              class="btn-hover-bg btn btn-primary text-white py-2 px-4"
              href="#"
              >Read More</a
            >
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-xl-3">
        <div class="causes-item">
          <div class="causes-img">
            <img
              src="/img/project-4.jpg"
              class="img-fluid w-100"
              alt="Project 4"
            />
            <div class="causes-link pb-2 px-3">
              <small class="text-white"
                ><i class="fas fa-code-branch text-primary me-2"></i>Project:
                IoT System</small
              >
              <small class="text-white"
                ><i class="fa fa-users text-primary me-2"></i>Team: Delta
                Developers</small
              >
            </div>
            <div class="causes-dination p-2">
              <a
                class="btn-hover-bg btn btn-primary text-white py-2 px-3"
                href="#"
                >View Project</a
              >
            </div>
          </div>
          <div class="progress">
            <div
              class="progress-bar"
              role="progressbar"
              aria-valuenow="95"
              aria-valuemin="0"
              aria-valuemax="100"
            >
              <span>95%</span>
            </div>
          </div>
          <div class="causes-content p-4">
            <h4 class="mb-3">IoT System</h4>
            <p class="mb-4">
              An Internet of Things (IoT) system designed to automate and
              monitor home appliances.
            </p>
            <a
              class="btn-hover-bg btn btn-primary text-white py-2 px-4"
              href="#"
              >Read More</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
