<div class="container-fluid service py-5 bg-light">
  <div class="container py-5">
    <div class="text-center mx-auto pb-5" style="max-width: 800px">
      <h5 class="text-uppercase text-primary">What we do</h5>
      <h1 class="mb-0">Our Coding Activities</h1>
    </div>
    <div class="row g-4">
      <div class="col-md-6 col-lg-6 col-xl-3">
        <div class="service-item">
          <img
            src="/img/service-1.jpg"
            class="img-fluid w-100"
            alt="Coding Workshops"
          />
          <div class="service-link">
            <a href="#" class="h4 mb-0">Coding Workshops</a>
          </div>
        </div>
        <p class="my-4">
          Participate in hands-on workshops to learn new programming languages,
          tools, and techniques.
        </p>
      </div>
      <div class="col-md-6 col-lg-6 col-xl-3">
        <div class="service-item">
          <img
            src="/img/service-2.jpg"
            class="img-fluid w-100"
            alt="Hackathons"
          />
          <div class="service-link">
            <a href="#" class="h4 mb-0">Hackathons</a>
          </div>
        </div>
        <p class="my-4">
          Join our hackathons to collaborate with peers and create innovative
          solutions to real-world problems.
        </p>
      </div>
      <div class="col-md-6 col-lg-6 col-xl-3">
        <div class="service-item">
          <img
            src="/img/service-3.jpg"
            class="img-fluid w-100"
            alt="Tech Talks"
          />
          <div class="service-link">
            <a href="#" class="h4 mb-0">Tech Talks</a>
          </div>
        </div>
        <p class="my-4">
          Attend tech talks by industry experts and alumni to stay updated on
          the latest trends in technology.
        </p>
      </div>
      <div class="col-md-6 col-lg-6 col-xl-3">
        <div class="service-item">
          <img
            src="/img/service-4.jpg"
            class="img-fluid w-100"
            alt="Project Collaborations"
          />
          <div class="service-link">
            <a href="#" class="h4 mb-0">Project Collaborations</a>
          </div>
        </div>
        <p class="my-4">
          Work together on real-world projects and gain practical experience in
          software development.
        </p>
      </div>
      <div class="col-12">
        <div class="d-flex align-items-center justify-content-center">
          <a class="btn-hover-bg btn btn-primary text-white py-2 px-4" href="#"
            >Read More</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
